@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

@keyframes slidein {
        from { left: -100%; }
        to { left: 0; }
}
@keyframes slideout {
        from { left: 0; }
        to { left: -100%; }
}
@keyframes fadein {
        from { opacity: 0; height: 0; }
        1% { opacity: 0; height: 100%; }
        to { opacity: 0.4; height: 100%; }
}
@keyframes fadeout {
        from { opacity: 0.4; height: 100%; }
        99% { opacity: 0; height: 100%; }
        to { opacity: 0; height: 0; }
}
body {
        --fade-time: 500ms;
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Raleway', sans-serif;
        line-height: 1.5;
}
.display {
        text-align: center;
        text-transform: uppercase;
        font-size: 80%;
        width: 15rem;
        display: inline-block;
}
.display > span {
        text-transform: none;
        font-size: 200%;
        display: block;
}
.display > span:empty:after {
        content: '—';
}
#controls > * {
        font-size: 2rem;
}
.popup {
        background: white;
        box-shadow: 0 0 0.7rem black;
        padding: 1.5rem;
        z-index: 2;
}
#popup-overlay {
        background: black;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        animation-duration: var(--fade-time);
        animation-name: fadeout;
        opacity: 0;
        height: 0;
}
.popup:not(.hidden) ~ #popup-overlay {
        animation-name: fadein;
        opacity: 0.4;
        height: 100%;
}

#connect-popup {
        position: absolute;
        top: 0;
        width: 90%;
        max-width: 28rem;
        min-height: 100%;
        box-sizing: border-box;
        animation-duration: var(--fade-time);
        animation-name: slidein;
        left: 0;
}
#connect-popup.hidden {
        animation-name: slideout;
        left: -100%;
}
#connect-popup hr {
        width: 3rem;
}
#connect-popup #my-ident {
        font-size: 170%;
        margin: 1rem 0;
}
#connect-popup > form {
        margin: 1rem 0;
        text-align: left;
}
#connect-popup > form > input {
        font-size: 120%;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
}
#connect-popup > dl {
        text-align: left;
        font-size: 1rem;
}
#connect-popup > dl > dt {
        font-weight: bold;
}
#connect-popup > dl > dd {
        margin-bottom: 1rem;
}
